.menuImage {
  width: 15vw;
  height: 12vw;
  object-fit: cover;
  margin-right: 32px;
  border-radius: 4px;
}

.menuItem {
  display: flex;
  padding: 0 0 32px;
}

.menu {
  display: flex;
  flex-direction: column;

}

.textContainer {
  padding: 32px 0;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.textContainer>p:last-child {
  align-self: flex-end;
  margin-top: auto;
}

.textContainer h2 {
  font-size: 2rem;
}